.bg-header {
  /*background-image: url(../images/sidra/bg-header.png);*/
  background-image: url(../images/sidra/background-1900.jpg);
  background-repeat: no-repeat;
  background-position: top center;
}
.bg-header > div {
  /*background: linear-gradient(0deg, rgba(0, 0, 0, 0.27) 0%, rgba(0, 0, 0, 0.4) 25%, rgba(0,0,0,0.014443277310924318) 50%);*/
  background: linear-gradient(0deg, rgba(43, 21, 58, 0.62) 0%, rgb(40, 20, 53) 25%, rgba(0,0,0,0.014443277310924318) 50%);
  /*background: linear-gradient(0deg, rgba(43, 21, 58, 0.62) 0%, rgb(211, 47, 32, 0.7) 25%, rgba(0,0,0,0.014443277310924318) 50%)*/
}
.bg-green {
  background-color: #1b6736;
}
.red {
  color: #CE0A00;
}
.yellow {
  color: #ffed00;
}
.header-main-content {
  /*padding: 100px 0 220px;*/
  padding: 80px 0 100px;
}
.section-custom-padding {
   padding: 80px 0;
}
.section-about {
  padding: 80px 0 60px;
}
.section-bg-man {
  background-color: rgb(21,14,25);
  background-image: url(../images/sidra/sidra-man.jpg);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 90%;
}
.section-bg-man > div > .row {
  background: rgb(21,14,25);
  background: linear-gradient(90deg, rgba(21,14,25,0.8827906162464986) 0%, rgba(50,24,68,0.8883928571428571) 40%, rgba(218,59,0,0) 90%);
  /*background: linear-gradient(90deg, rgba(21,14,25,0.8827906162464986) 0%, rgba(211, 47, 32, 0.7) 40%, rgba(218,59,0,0) 90%);*/
}
.section-bg-woman {
  background-image: url(../images/sidra/flowers.jpg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 90%;
}
.section-bg-woman > div > .row {
  background: rgb(255,255,255);
  background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9136029411764706) 50%, rgba(255,255,255,0.04805672268907568) 90%);
}
.header-title {
  font-size: 73px;
  text-shadow: 1px 1px 15px #15270e;
  letter-spacing: 0px;
}
.header-price {
  text-shadow: 1px 1px 15px #15270e;
  font-family: 'Roboto';
  font-weight: 700;
}
.paste-bank {
  position: absolute;
  top: -10%;
  right: 0;
}
.made-in-turkey {
  position: absolute;
  bottom: 70px;
  left: -30px;
}
.phones {
  max-width: 240px;
  text-align: center;
  margin: 20px 0 0 auto;
}
.phones a {
  max-width: 240px;
  color: #1b6736;
  font-size: 20px;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  background-color: #fff;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.phones > a > i {
  font-size: 24px;
}
.price-of-paste {
  margin-top: 60px;
}
.box-section-shadow {
  border: 1px solid #eeeeee;
    -moz-box-shadow: 0 0 30px rgba(170, 170, 170, 0.2);
    -webkit-box-shadow: 0 0 30px rgba(170, 170, 170, 0.2);
    box-shadow: 0 0 30px rgba(170, 170, 170, 0.2);
}


/* Buttons */
.btn-app {
  -moz-box-shadow: 0px 10px 14px -7px #3e7327;
  -webkit-box-shadow: 0px 10px 14px -7px #3e7327;
  box-shadow: 0px 10px 14px -7px #3e7327;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #45deb0), color-stop(1, #1b6736));
  background:-moz-linear-gradient(top, #45deb0 5%, #1b6736 100%);
  background:-webkit-linear-gradient(top, #45deb0 5%, #1b6736 100%);
  background:-o-linear-gradient(top, #45deb0 5%, #1b6736 100%);
  background:-ms-linear-gradient(top, #45deb0 5%, #1b6736 100%);
  background:linear-gradient(to bottom, #45deb0 5%, #1b6736 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#45deb0', endColorstr='#1b6736',GradientType=0);
  background-color: #01a107;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 22px;
  letter-spacing: .1em;
  text-transform: uppercase;
  text-shadow:0px 1px 0px #5b8a3c;
}
.btn-app-p {
  font-weight: bold;
  padding: 10px 42px;
}
.btn-app:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1b6736), color-stop(1, #45deb0));
  background:-moz-linear-gradient(top, #1b6736 5%, #45deb0 100%);
  background:-webkit-linear-gradient(top, #1b6736 5%, #45deb0 100%);
  background:-o-linear-gradient(top, #1b6736 5%, #45deb0 100%);
  background:-ms-linear-gradient(top, #1b6736 5%, #45deb0 100%);
  background:linear-gradient(to bottom, #1b6736 5%, #45deb0 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1b6736', endColorstr='#45deb0',GradientType=0);
  background-color:#1b6736;
  color:#ffffff;
}
.btn-app:active {
  position:relative;
  top:1px;
}
.modal-bank-margin {
  margin-top: 100px;
}

@media (max-width: 768px) {
  .branding__logo > a {
    display: block;
    text-align: center;
  }
  .branding__logo > a > img {margin: 20px 0; }
  .branding__logo > h3 {text-align: center; }
  .phones {margin: 20px auto; }
  .header-main-content {
    padding: 20px 0 20px;
    text-align: center;
  }
  .header-title {font-size: 36px; }
  .header-price > s {display: none; }
  .made-in-turkey {
      bottom: -110px;
      left: 180px;
  }
  .section-custom-padding {
    padding: 40px 0;
  }
  .section-about {padding: 140px 0 60px; }

  .section-bg-man > div > .row {
    padding: 270px 0 0;
  }
  .section-bg-man {
    background-image: url(../images/sidra/sidra-man-mobile.jpg);
    background-position: center left;
    background-size: 150%;
  }
  .section-bg-woman {
    background-image: url(../images/sidra/flowers-mobile.jpg);
    background-position:  center right;
    background-size: 150%;
  }
  .price-of-paste {
    margin-top: 30px;
  }
}
@media (max-width: 479px) {
  .branding__logo > a {
    display: block;
    text-align: center;
  }
  .branding__logo > a > img {margin: 20px 0; }
  .branding__logo > h3 {text-align: center; }
  .phones {margin: 20px auto; }
  .header-main-content {
    padding: 20px 0 20px;
    text-align: center;
  }
  .header-title {font-size: 36px; }
  .header-price > s {display: none; }
  .made-in-turkey {
      bottom: -340px;
      left: 50%;
  }
  .section-custom-padding {
    padding: 40px 0;
  }
  .modal-bank-margin {
    margin-top: 30px;
  }
  .section-bg-man {
    background-image: url(../images/sidra/sidra-man-mobile.jpg);
    background-position: center 480px;
    background-size: 150%;
  }
  .section-bg-woman {
    background-image: url(../images/sidra/flowers-mobile.jpg);
    background-position:  center 300px;
    background-size: 200%;
  }
  .order-xs-1 {
    -ms-flex-order:1;
    order:1
  }
  .order-xs-2 {
    -ms-flex-order:2;
    order:2
  }
}


/* ------------------------------------------------------------------------ */
/*  FIXED BUTTON
/* ------------------------------------------------------------------------ */
.fixed-button ,
.fixed-button2 {
  display: none;
}
@media (max-width: 480px) {
  .fixed-button ,
  .fixed-button2 {
    display: block;
    position: fixed;
    z-index: 2000;
    right: 15px;
  }
  .fixed-button {
    bottom: 20px;
  }
  .fixed-button2 {
    bottom: 75px;
  }
  .fixed-button a,
  .fixed-button2 a {
    width: 50px;
    height: 50px;
    display: block;
    text-align: center;
    padding: 10px;
    color: #fff;
    /*text-indent: -9999px;*/
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    -webkit-transition: 0.2s all linear;
    -moz-transition: 0.2s all linear;
    -o-transition: 0.2s all linear;
    transition: 0.2s all linear;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
  }
  .fixed-button a {
    background-color: #28a745;
    background: linear-gradient(135deg, #4dc368, #28a745);
  }
  .fixed-button2 a {
    background-color: #5F58FA;
    background: linear-gradient(135deg, #5F58FA, #a777e3);
  }
}